*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 20px;
  margin: 10px;
}

#head {
  border: 1px solid black;
  height: 40px;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 30px 1fr 30px 4fr;
  border: 1px solid orange;
  height: 100vh;


  #project-container {
    grid-column: 1 / 3;
    border: 1px solid red;
    transform: 5s;
    transition: 5s;
  }

  #slider {
    grid-column: 3 / 4;
    border: 1px solid blue;

  }

  #display-container {
    grid-column: -2 / -1;
    border: 1px solid green;
  }

  .project-display {
    background-color: rgba(0, 0, 0, 0.068);

    .display-description {
      display: flex;
      justify-content: space-between;
      border: 1px solid red;
    }

    .in-progress-container {
      min-height: 250px;
    }

    .completed-container {
      background-color: rgba(255, 0, 0, 0.349);
    }

    .main-to-do-container {
      display: flex;
      align-content: center;
      align-items: center;
    }
  }

  #form-container {
    position: absolute;
    left: 50%;
    top: 100px;
  
    #project-form {
      position: relative;
      top: 100px;
      left: -50%;
      display: flex;
      flex-direction: column;
      background-color: rgb(24, 105, 211);
      padding: 10px;
      width: 500px;
      box-shadow: 0px 0px 50px rgb(0, 0, 0);
    
      * {
        padding: 10px;
        margin: 1%;
      }
    }

    #to-do-form {

    }
  }
}



