
*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Lora', serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.336);
  transition: 0.5s;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 20px;
  margin: 10px;
}


#head {
  border: 2px solid black;
  border-bottom: 3px solid rgb(1, 49, 63);
  height: 65px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-shadow: 1px 1px white;
  background-color: rgb(101, 192, 219);
  box-shadow: inset 0 0 10px rgb(0, 5, 8);
}

#container {
  display: grid;
  grid-template-columns: 30px 1fr 30px 4fr;
  height: 93vh;

  .project-header {
    font-size: 2rem;
    background: rgb(196, 231, 187);
    border-bottom: 2px solid black;
    text-shadow: 1px 1px white;
    text-align: center;
    padding-bottom: 5px;
  }

  #project-container {
    grid-column: 1 / 3;
    background-image: linear-gradient(rgb(163, 198, 201), rgb(110, 203, 231), rgb(163, 198, 201));
    box-shadow: inset 0 0 15px black;
    
    #new-proj-btn {
      background: rgba(86, 211, 82, 0.637);
      border: 2px solid rgb(196, 231, 187);
      height: 30px;
      width: 30px;
      font-size: 1.2rem;
      margin: 2px 5px;
    }

    #new-proj-btn:hover {
      cursor: pointer;
      background-color: rgba(44, 221, 9, 0.781);
      transition: 0.5s;
    }

    #project-list {
    
      *{
        padding: 1%;
      }

      .project-items {
        background-color: rgb(221, 238, 223);
        border: 2px solid rgb(41, 50, 58);
        border-radius: 5px;
        margin: 1%;
        font-size: 1rem;
        text-align: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
        text-shadow: 1px 1px white;
      }

      .project-items:hover {
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 0.719);
      }
    }
  }

  #slider {
    grid-column: 3 / 4;
    border-left: 2px solid rgb(4, 67, 87);
    border-right: 2px solid rgb(4, 67, 87);
    background: rgb(196, 231, 187);
    color: black;
    display: flex;
    align-items: center;
  }

  #slider:hover {
    cursor: pointer;
    background-color: rgb(180, 241, 165)
  }

  #display-container {
    grid-column: -2 / -1;
    background-image: linear-gradient(rgb(163, 198, 201), rgb(110, 203, 231), rgb(163, 198, 201));
  }

  .project-display {

    .btn-container {
      display: flex;
      justify-content: space-between;
    }

    .add-to-do-btn {
      background: rgba(86, 211, 82, 0.637);
      border: 2px solid rgb(196, 231, 187);
      height: 45px;
      width: 45px;
      font-size: 1.2rem;
      margin: 2px 5px;
    }

    .add-to-do-btn:hover {
      cursor: pointer;
      background-color: rgba(44, 221, 9, 0.781);
      transition: 0.5s;
    }

    .delete-project-btn {
      background: rgba(243, 51, 51, 0.671);
      font-size: 1.2rem;
      border: 2px solid rgb(196, 231, 187);
      height: 45px;
      width: 45px;
      margin: 2px 5px;
    }

    .delete-project-btn:hover {
      cursor: pointer;
      background-color: rgba(221, 9, 9, 0.671);
      transition: 0.5s;
    }

    .list-header {
      text-align:center;
      text-decoration: underline;
      font-size: 1.4rem;
      padding: 5px;
      margin-bottom: 5px 0;
      border-bottom: 2px solid black;
      text-shadow: 2px 2px rgba(221, 220, 220, 0.815);
    }

    .in-progress-container {
      min-height: 250px;
    }

    .main-to-do-container {
      display: flex;
      align-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.541);
      
      h3 {
        margin-left: 10px;
      }

      h5 {
        font-size: 1.2rem;
      }
    }

    .extended-to-do-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.541);
      border-top: 1px solid rgba(0, 0, 0, 0.349);
      
      .delete-to-do-btn {
      background: rgba(243, 51, 51, 0.671);
      font-size: 1.2rem;
      border: 2px solid rgba(0, 0, 0, 0.616);
      height: 45px;
      width: 45px;
      margin: 2px 5px;
      }
      
      .delete-to-do-btn:hover {
        cursor: pointer;
        background-color: rgba(221, 9, 9, 0.671);
        transition: 0.5s;
      }
    }
  }

  #form-container {
    position: absolute;
    left: 50%;
    top: 25px;
  
    #project-form {
      position: relative;
      top: 100px;
      left: -50%;
      display: flex;
      flex-direction: column;
      background-color: rgb(196, 231, 187);
      padding: 10px;
      width: 500px;
      border: 3px solid black;
      border-radius: 10px;
      box-shadow: 0px 0px 30px rgb(0, 0, 0);
    
      * {
        padding: 10px;
        margin: 1%;
      }

      button {
        font-size: 1rem;
        font-family: 'Lora', serif;
      }

      label {
        font-size: 1.2rem;
        font-family: 'Lora', serif;
      }

      input {
        font-size: 1rem;
        font-family: 'Lora', serif;
      }
    }



  }
}



