*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
}

#head {
  border: 1px solid black;
  height: 40px;
  text-align: center;
}

#container {
  display: grid;
  grid-template-columns: 30px 1fr 30px 4fr;
  border: 1px solid orange;
  height: 100vh;


  #project-container {
    grid-column: 1 / 3;
    border: 1px solid red;
  }

  #slider {
    grid-column: 3 / 4;
    border: 1px solid blue;

  }

  #main-container {
    grid-column: -2 / -1;
    border: 1px solid green;

  }

  #form-container {
    position: absolute;
    left: 50%;
    top: 100px;
  
    #project-form {
      position: relative;
      top: 100px;
      left: -50%;
      display: flex;
      flex-direction: column;
      background-color: rgb(24, 105, 211);
      padding: 10px;
      width: 500px;
      box-shadow: 0px 0px 50px rgb(0, 0, 0);
    
      * {
        padding: 10px;
        margin: 1%;
      }
    }
  }
}



